/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
    height: 100%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
    font-family: 'avantibold_allfont_ru';
    src: url('fonts/avantibold_allfont_ru.eot');
    src: url('fonts/avantibold_allfont_ru.eot') format('embedded-opentype'),
         url('fonts/avantibold_allfont_ru.woff2') format('woff2'),
         url('fonts/avantibold_allfont_ru.woff') format('woff'),
         url('fonts/avantibold_allfont_ru.ttf') format('truetype'),
         url('fonts/avantibold_allfont_ru.svg#avantibold_allfont_ru') format('svg');
}

.btn{background: #20a551 !important;}
.btn:hover{background: #008f35 !important;}

input[type="checkbox"],
input[type="radio"] {
    display:none;            
}
input[type="checkbox"] + label, 
input[type="radio"] + label {
  cursor: pointer;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px 0 0;
    background-image: url('../img/input-sprite.jpg');
    background-repeat: no-repeat;
}
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
    background-position: 0 -20px;
}

.modal#reg_modal{width: 629px; height: 740px; padding: 39px;}
.modal#reg_modal .main-frame{width: 100%; height: 100%; border: 14px solid #189d4a; text-align: center; padding-top: 52px;}
.modal#reg_modal .main-frame form{text-align: center; }
.modal#reg_modal .main-frame input[type="text"], .modal#reg_modal .main-frame input[type="password"]{width:373px; margin-bottom: 17px; height: 57px; display: inline-block; clear: both; }
.modal#reg_modal .main-frame label{display: block;} 


body{width: 100%; height: 100%; overflow: hidden; position: relative;}

.m_button{ background: #20a551; color: #fff; text-decoration: none; padding: 36px 57px; text-transform: uppercase; margin-right: 1.5%; font-size: 32px; font-weight: bold; border-radius: 12px; }
.m_button:hover{background: #008f35;}

nav{position: absolute; height: 100%; width: 189px; background: #189d4a; z-index: 2; left: 0;}
nav ul.main-menu{padding: 0; margin: 0; list-style: none; height: 70%;}
nav a.main-menu{display: inline-block; width: 100%; color: #90dfae; text-decoration: none; text-align: center; padding: 8px 0;}
nav a.main-menu:hover, nav ul.main-menu li:nth-of-type(2):hover {background-color: #047536;}
nav ul.main-menu li {height: 122px; float: none; background-image: url('../img/nav-sprites.png'); cursor: pointer; background-repeat: no-repeat; zoom: 0.8;}
nav ul.main-menu li:hover, nav ul.main-menu li.active {background-color: #047536;}
nav ul.main-menu li:nth-of-type(1) {background: none; height: auto;}
nav ul.main-menu li:nth-of-type(2) {background-position: center -5%; background-color: #169546;}
nav ul.main-menu li:nth-of-type(3) {background-position: center 12.4%;}
nav ul.main-menu li:nth-of-type(4) {background-position: center 32%;}
nav ul.main-menu li:nth-of-type(5) {background-position: center 50%;}
nav ul.main-menu li:nth-of-type(6) {background-position: center 69%;}
nav ul.main-menu li:nth-of-type(7) {background-position: center 87%;}
nav ul.main-menu li:nth-of-type(8) {background-position: center 104%;}
nav .copyright {position: absolute; bottom: 0; line-height: 1.5; font-size: 12px; color: #fff; text-align: center; width: 100%;}
nav .copyright span{color: #a7e8c0;}
nav .copyright a{color: #fff; text-decoration: none;}
nav .copyright a:hover{text-decoration: underline;}
nav .sub-menu{width: 451px; height: 100%; position: absolute; left: 189px; background: #189d4a; display: none;}
nav .sub-menu .menu{display: none;}
nav .menu{padding: 10px 30px;}
nav .menu .title{ color: #baefce; font-size: 22px;}
nav .menu ul{list-style: none; font-weight: bold; padding-left: 15px;}
nav .menu ul li a{ color: #fff; text-decoration: none; font-size: 28px;}
nav img{ max-width: 100%;}

.main-part{width: 100%; height: 100%; position: relative; z-index: 1; text-align: center; padding-top: 1.2%; background-image: url('../img/main-bg.jpg'); background-size: cover; background-repeat: no-repeat; background-position: bottom; }
.main-part .header{text-align: center; padding: 0; margin:0; font-family: 'avantibold'; color: #fff; font-size: 32px;}
.main-part img{max-height: 38.9%; margin-top:3%;}
.main-part .main-buttons{margin-top:4.8%;}
.main-part .main-buttons .btn{height: 110px; margin-right: 1.5%; font-size: 32px; font-weight: bold; line-height: 110px; border-radius: 12px;}
.main-head{position: absolute; right: 0; width: 145px; height: 145px; line-height: 19px; padding-top: 47px; background: transparent; text-align: center; font-size: 12px;}
.main-part .main-head{padding-top: 0px; }
.main-head a{display: block; color: #47b15b; text-decoration: none;}
.main-head a:hover{color: #127424; text-decoration: underline;}

.prod-part{width: (100% - 183px); height: 100%; position: relative; z-index: 1; padding-left: 189px; }
.prod-part .main-prod{width: 100%; position: relative; height: 100%; overflow: auto; padding: 29px 0 0 67px; background: #f3f3f3;-webkit-box-shadow: inset 8px 0px 55px -10px rgba(0,0,0,0.75);
-moz-box-shadow: inset 8px 0px 55px -10px rgba(0,0,0,0.75);
box-shadow: inset 8px 0px 55px -10px rgba(0,0,0,0.75);}
.prod-part .head{width: 100%; height: 145px; background: #fff;}
.prod-part .head img{float: left; margin: 15px 35px 0 55px;}
.prod-part .head .info {float: left;}
.prod-part .head .info p{margin:0; }
.prod-part .head .info p.sub-category{color: #189d4a; font-size: 66px; font-weight: bold;}
.prod-part .head .info p.basket{color: #000; font-size: 48px; font-weight: bold; margin-top:24px;}
.prod-part .head .info p.category{font-size: 22px;}
.prod-part .head .arrows{float: right; height: 100%; margin-right: 145px;}
.prod-part .head .arrows div{background: #41b26b; width: 145px; height: 100%; float: left; text-align: center; color: #fff; line-height: 145px; font-size: 46px;}
.prod-part .head .arrows div:hover{background: #20a551;}
.prod-part .head .arrows div.step{background: #e1ebe5; font-size: 26px; color: #9bb0a3; font-weight: bold;}
.prod-part .head .arrows div.step.active{background: #189d4a; color: #fff;}
.prod-part .prod-single{width: 1227px; height: 722px; background: #fff; margin-bottom: 40px;}
.prod-part .prod-single .leftpart, .prod-part .prod-single .rightpart{float: left;}
.prod-part .prod-single .leftpart{width: 70%;}
.prod-part .prod-single .rightpart{width: 30%; text-align: center; display: inline-block; padding-top: 15px;}
.prod-part .prod-single .rightpart .button-wrap{width: 75%; display: inline-block; margin-bottom: 10px; }
.prod-part .prod-single .rightpart .button-wrap button{width: 100%;}
.prod-part .prod-single .rightpart .btn{ display:block; padding: 0px 30px; height: 58px; line-height: 58px; border-radius: 9px; clear: both; font-size: 22px;}
.prod-part .prod-single .rightpart p{margin: 0; font-weight: bold;}
.prod-part .prod-single .rightpart p.title{color: #000;  font-size: 34px;}
.prod-part .prod-single .rightpart p.price{color: #047536; font-size: 42px;}
.prod-part .prod-single .rightpart p.amount{color: #000; font-size: 16px;}
.prod-part .prod-single .rightpart p.desc{color: #000; font-size: 16px; color: #a1a1a1; font-weight: normal;}
.prod-part .prod-single .basketForm input[type='number']{display: block; width: 80%; margin:20px 0 40px 10%; height: 60px; font-weight: bold; text-align: center; font-size: 26px;}
.basket-block{width: 289px; position: fixed; right: 57px;}
.basket-block .top{width: 100%; background: #20a551; color: #fff; text-align: center; font-size: 20px; font-weight: bold; padding: 17px 0;}
.main-basket .top{ padding: 10px 0;}
.basket-block .top img{margin-right: 26px;}
.basket-block .top p{margin: 0; font-weight: normal; font-size: 16px;}
.basket-block.main-basket .top span{font-size: 52px;}

.basket-block .basket-list{background: #fff; padding-bottom: 10px;}
.basket-block .basket-list .leftpart{float: left;}
.basket-block .basket-list .leftpart p{margin: 0; font-weight: bold;}
.basket-block .basket-list .leftpart p.price{color: #047536; font-weight: bold; font-size: 18px;}
.basket-block .basket-list .item{padding: 10px 15px 0 15px; margin-bottom: 14px;}
.basket-block .basket-list .cross{float: right; margin-top:8px;}
.basket-block .bottom{background: #034c23; padding: 23px 28px;}
.basket-block .bottom p{margin:0;}
.basket-block .bottom p.total{color: #c3decf;}
.basket-block .bottom p.price{color: #fff; font-weight: bold; font-size: 38px;}
.basket-block .bottom .m_button{display: block; font-size: 16px; padding: 20px 30px;}
.basket-bar {width: 1142px; height: 73px; line-height: 73px; background: #189d4a; color: #fff; font-weight: bold; padding-left: 20px; font-size: 26px;}
.basket-bar p{float: right; width: 130px; background: #108d3f; height: 100%; margin: 0; padding: 0; text-align: center; font-size: 35px; }
.items-list{width: 1142px; }
.items-list .item{width: 100%; height: 296px; background: #fff; }
.items-list .item .image{width: 70%; float: left; height: 100%;}
.items-list .item .image img{max-width: 100%; max-height: 100%;}
.items-list .item .desc p{margin: 0;  font-weight: bold;}
.items-list .item .desc .title{font-size: 30px; color: #000;}
.items-list .item .desc .price{color: #047536; font-size: 42px;}
.items-list .item .desc .amount{text-align: center;}
.basket-list .bar {margin: 0; color: #aaaaaa;}
.basket-list label {display: block; clear: both; margin: 10px 0; font-weight: bold;}
.main-basket .basket-list {padding: 13px 25px;}
.main-basket .basket-list p.delivery {font-size: 12px;}
.main-basket .basket-list p.delivery a {color: #005a26; text-decoration: none; font-weight: bold;}
.main-basket .basket-list .m_button {display: block; padding: 10px 0; font-size: 22px; text-align: center;}

.form-part{width: 424px; float: left; background: #fff; padding: 22px 3px 22px 14px;}
.form-part .form-bar{background: #189d4a; color: #fff; padding: 15px 18px; margin-bottom: 20px;}
.form-part .form-bar.second{margin-top: 15px;}
.form-part input[type="text"]{width: 305px; height: 43px; margin: 0 0 10px 14px;}
.form-part #mapping{display: block; color: #0a652c; text-decoration: none; font-weight: bold; margin: 13px 0 20px 17px}
.form-part label{display: block;}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
